/* DatePickerStyles.css */

.settings-container {

    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  

  .settings-options {
    margin-bottom: 20px;
  }
  
  .date-picker {
    margin-bottom: 15px;
  }
  
  .date-picker label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  
  .react-datepicker-wrapper {
    width: 100%;
  }
  
  .react-datepicker__input-container {
    width: 100%;
  }
  
  .react-datepicker {
    font-family: inherit;

    
  }

  .react-datepicker__navigation{
    margin-top: 15px;;
  }
  
  .react-datepicker__header {
    color: #fff;
  }
  
  .react-datepicker__current-month {
    font-size: 14px;
  }
  
  .react-datepicker__day-name, .react-datepicker__day {
    width: 40px;
    line-height: 40px;
    margin: 2px;
    border-radius: 50%;
  }
  
  .react-datepicker__day:hover {
    background-color: #007bff;
    border-radius: 50%;
    color: #fff;
  }
  
  .react-datepicker__day--selected {
    background-color: #007bff;
    color: #fff;
  }
  
  .react-datepicker__day--keyboard-selected {
    background-color: #007bff;
    color: #fff;
  }

  .react-datepicker__day--in-range{
    background-color: #c0c0c0  ;
  }
  