/* styles.css (or any other CSS file) */
.custom-file-input-label {
  background-color: black;
  position:absolute;
  top:2px;
  left:10px;
  padding:2px;
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  cursor: pointer;

}

.custom-file-input {
  display: none;
}

.plus-icon {
  
  font-size: 15px;
}
