/* LoginPage.css */
.login-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #ccc;
    padding: 70px;
    border-radius: 25px;
    background-color: #394359;
    width: 400px;
    color:white;
    
  }
  
  .login-page-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
   
  }
  
  .login-page-container .form-group {
    margin-bottom: 20px;
  }
  
  .login-page-container label {
    margin-bottom: 10px;
    color:white;
  }
  
  .login-page-container input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .login-page-container .action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .login-page-container .login-button {
    width: 50%;
    padding: 8px 20px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: white;
    font-weight: 600;
    color: '#394359';
    border-radius: 10px;
    cursor: pointer;
  }
  
  .login-page-container .signup-button {
    width: 50%;
    margin-top:10px;
    padding: 8px 20px;
    font-size: 16px;
    background-color: white;
    border-radius: 10px;
    color: '#394359';
    font-weight: 600;
    position: absolute;
    cursor: pointer;
    left :135px ;
  }
  
    